@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    word-break: keep-all;
    word-wrap: break-word;
  }

  /* Set default line height for all text content */
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  span,
  div {
    line-height: 140%;
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Swiper Pagination Custom Styles */
.testimonial-swiper .swiper-pagination {
  position: relative;
  margin-top: 2rem;
}

.testimonial-swiper .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: #c7ddff;
  opacity: 1;
}

.testimonial-swiper .swiper-pagination-bullet-active {
  background-color: #3e8fff;
}
